

<mat-sidenav-container class="">
  <mat-sidenav mode="side" [(opened)]="sidenavOpened">
    <mat-list>
      <div *ngFor="let u of labels">
        <mat-expansion-panel [expanded]="true" [hideToggle]="true">
          <mat-expansion-panel-header>
            <mat-list-item>
              <a style="cursor: pointer;">
                <h4 mat-line>{{u.Email}}</h4>
              </a>
            </mat-list-item>
          </mat-expansion-panel-header>
          <mat-list style="margin-left:30px;">
            <div *ngFor="let l of u.Labels">
              <mat-list-item>
                <a style="cursor: pointer;">
                  <p mat-line> {{l.Label}}</p>
                </a>
              </mat-list-item>
            </div>
          </mat-list>
        </mat-expansion-panel>
      </div>
    </mat-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="handleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="spacer"></div>
    <span>{{title}}</span>
  </mat-toolbar>


  <ng-content></ng-content>
</mat-sidenav-container>
